@charset "UTF-8";
body {
  margin: 0;
  font-family: "Open-Sans", sans-seril;
  font-weight: 700; }

.workin-process {
  padding: 145px 0; }
  .workin-process .card {
    width: 100%;
    background-image: url("../images/gpg-list-keys.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 23px; }
    .workin-process .card::after {
      content: '';
      display: block;
      padding-bottom: 80%; }

.charter {
  font-size: 50px;
  width: 100%;
  text-align: center;
  /*выравнивание текста витури блока*/
  margin-bottom: 16px;
  text-transform: capitalize;
  /*новое слово с ббольшой буквы*/ }
  @media screen and (max-width: 436px) {
    .charter {
      font-size: 32px; } }
  .charter_orange {
    color: #fd8569; }

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 115px;
  font-weight: 400;
  color: #a0a0a0; }

.flip {
  width: 100%;
  height: 450px;
  perspective: 900px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 25px; }
  .flip:hover .front {
    transform: rotateY(-180deg); }
  .flip:hover .back {
    transform: rotateY(0); }
  .flip:hover .flip__info {
    bottom: 0;
    box-shadow: none;
    background-color: #fff3f0;
    height: 125px; }
    .flip:hover .flip__info .spec {
      color: #ff5c36; }
    .flip:hover .flip__info .social {
      opacity: 1;
      display: flex; }
  .flip__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    /*показывать /скрывать заднюю часть элемента*/
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s; }
    .flip__card .abilities {
      width: 150px;
      display: flex;
      flex-direction: column; }
      .flip__card .abilities__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 17px; }
        .flip__card .abilities__item .progress {
          width: 100%;
          height: 4px;
          border-radius: 0 2px 2px 0;
          background-color: #817f7e;
          margin-top: 7px; }
          .flip__card .abilities__item .progress__line {
            height: 100%;
            background-color: #ff5c36;
            border-radius: 0 2px 2px 0; }
          .flip__card .abilities__item .progress .skill_1 {
            width: 75%; }
          .flip__card .abilities__item .progress .skill_2 {
            width: 50%; }
          .flip__card .abilities__item .progress .skill_3 {
            width: 90%; }
  .flip__info {
    width: 72%;
    min-width: 260px;
    height: 95px;
    background-color: white;
    position: relative;
    bottom: -25px;
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 21px 0;
    box-sizing: border-box;
    transition: .5s; }
    .flip__info .name {
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 600; }
    .flip__info .spec {
      font-weight: 400;
      transition: 0.5s;
      margin-bottom: 18px; }
    .flip__info .social {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 75px;
      opacity: 0;
      transition: .5s; }

.front {
  background-color: #ff5c36;
  align-items: flex-end; }

.back {
  background-color: #fff3f0;
  transform: rotateY(180deg);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  align-items: center; }
